facturas/src/main/resources/facturas.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com/) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="t4is.uv.mx/facturas"
    xmlns:tns="t4is.uv.mx/facturas" elementFormDefault="qualified">

    <xs:element name="generarFacturaRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Productos">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Producto" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Nombre" type="xs:string"/>
                                        <xs:element name="Cantidad" type="xs:integer"/>
                                        <xs:element name="PrecioUnitario" type="xs:decimal"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="DatosVendedor">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Nombre" type="xs:string"/>
                            <xs:element name="Direccion" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="generarFacturaResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="UUID" type="xs:string"/>
                <xs:element name="Productos">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Producto" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Nombre" type="xs:string"/>
                                        <xs:element name="Cantidad" type="xs:integer"/>
                                        <xs:element name="PrecioUnitario" type="xs:decimal"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="DatosVendedor">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Nombre" type="xs:string"/>
                            <xs:element name="Direccion" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="PrecioTotal" type="xs:decimal"/>
                <xs:element name="FechaGeneracion" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="recuperarFacturaRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="UUID" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="recuperarFacturaResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="UUID" type="xs:string"/>
                <xs:element name="Productos">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Producto" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Nombre" type="xs:string"/>
                                        <xs:element name="Cantidad" type="xs:integer"/>
                                        <xs:element name="PrecioUnitario" type="xs:decimal"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="DatosVendedor">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Nombre" type="xs:string"/>
                            <xs:element name="Direccion" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="PrecioTotal" type="xs:decimal"/>
                <xs:element name="FechaGeneracion" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
